body {
	background-image: url("otriangles.png");

}

nav.navbar.navbar-default.navbar-fixed-top {
	background-color: #FF9A56;
	text-align: center;
}

h1, h2 {
	text-align: center;
	color: white;
}

body > div.container {
	margin-top: 100px;
}

input[type="file"] {
    margin: auto 0;
    width: 30%; 
}

.dot1 {
	color: red;
}

.dot2 {
	color: orange;
}

.dot3 {
	color: orange;
}

.dot4 {
	color: blue;
}

div.section {
	margin: 10px;
	display: none;
}

.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.row button {
	margin: 0 auto;
}

.section {
	display: hidden;
}

.loading-icon-red {
    background-image: url("loading-gif-red.gif");
}

.loading-icon-yellow {
    background-image: url("loading-gif-yellow.gif");

}

.loading-icon-green {
    background-image: url("loading-gif-green.gif");
}

.loading-icon-blue {
    background-image: url("loading-gif-blue.gif");
}